<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title — DiscStore</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900&amp;subset=latin-ext" rel="stylesheet">
    @Styles.Render("~/Content/font-awesome/fa-solid.min.css")
    @Styles.Render("~/Content/font-awesome/fontawesome.min.css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body class="fixed-body-position">
    <!--Main Navigation-->
    <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
            <div class="container col-sm-10">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")"><strong class="mr-4">DiscStore</strong></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Home")">Strona Główna</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Newest", "Product")">Nowości</a>
                        </li>
                        @if (User.Identity.IsAuthenticated.Equals(true))
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="@Url.Action("FavList", "Product")">Ulubione</a>
                            </li>
                        }
                    </ul>
                    <ul class="navbar-nav navbar-right">
                        @if (User.Identity.IsAuthenticated == true)
                        {
                            <li class="navbar-text text-white text-sm-center mr-3">
                                <span class="text-thin">Witaj:</span> <strong class="text-orange">@Session["Name"] @Session["Surname"]</strong>
                            </li>
                            <li>
                                @Html.Action("Summary", "Cart")
                            </li>
                            <li>
                                <a class="text-white nav-link" href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a>
                            </li>
                            using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
                            {
                                @Html.AntiForgeryToken()
                            }
                        }
                        else
                        {
                            <li>
                                @Html.Action("Summary", "Cart")
                            </li>
                            <li class="nav-link">
                                <a class="text-center text-white" href="@Url.Action("Login","Account")">
                                    <i class="fas fa-user"></i> Zaloguj się
                                </a>
                            </li>

                        }
                    </ul>

                </div>
            </div>
        </nav>
        <div class="bg-image">

        </div>
        <!--Main Navigation-->
    </header>
    <main>
        <div class="container mb-5">
            <div class="row">
                <div class="col-xl-2 col-md-3 col-12">
                    @Html.Partial("_Menu")
                </div>
                <div class="col-xl-10 col-md-9 col-12">
                    @RenderBody()
                </div>
            </div>
            <!--Container end-->
        </div>
    </main>
    <!--Footer-->
    <footer class="page-footer font-small pt-4 mt-4">

        <!--Footer Links-->
        <div class="container-fluid text-center text-md-left">
            <div class="row">

                <!--First column-->
                <div class="col-md-4">

                </div>
                <!--/.First column-->
                <!--Second column-->
                <div class="col-md-4">
                    <h4 class="text-uppercase font-weight-bold">
                        <strong>Informacje</strong>
                    </h4>
                    <hr class="white accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <ul class="list-unstyled">
                        <li>
                            <a href="#!">Regulamin Strony</a>
                        </li>
                        <li>
                            <a href="#!">Polityka Prywatności</a>
                        </li>
                        <li>
                            <a href="#!">Zamówienia</a>
                        </li>
                        <li>
                            <a href="#!">Kontakt</a>
                        </li>
                    </ul>
                </div>
                <!--/.Second column-->
                <div class="col-md-4">
                    <h4 class="text-uppercase font-weight-bold">
                        <strong>Kontakt</strong>
                    </h4>
                    <hr class="white accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <i class="fa fa-home mr-3"></i> Warszawa, Marweckiego 34/2
                    </p>
                    <p>
                        <i class="fa fa-envelope mr-3"></i> biuro@discstore.com
                    </p>
                    <p>
                        <i class="fa fa-phone mr-3"></i> + 01 234 567 88
                    </p>
                </div>
            </div>
        </div>
        <!--/.Footer Links-->
        <!--Copyright-->
        <div class="footer-copyright py-3 text-center">
            © 2018 Copyright:
            <a href="#"><strong> DiscStore.com </strong> </a>
        </div>
        <!--/.Copyright-->

    </footer>
    <!--/.Footer-->

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>

