<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title — DiscStore</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="home-layout">
    <!--Navigation-->
    <div class="collapse navbar-collapse home-navbar__collapse">
        <nav class="navbar navbar-fixed-top home-navbar" role="navigation">
            <ul class="nav navbar-nav">
                <li>Produkty</li>
                <li>Kategorie</li>
                <li>O nas</li>
            </ul>
            @if (User.Identity.IsAuthenticated == true)
            {
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        Witaj, @User.Identity.Name
                    </li>
                    <li>
                        <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fas fa-power-off "></i> Wyloguj</a>
                    </li>
                </ul>
                using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
                {@Html.AntiForgeryToken()}
            }
            else
            {
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="@Url.Action("Login","Account")">
                            <i class="fas fa-sign-in-alt"></i> Zaloguj się
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Register","Account")">
                            <i class="fas fa-user"></i> Załóż konto
                        </a>
                    </li>
                </ul>
            }

        </nav>
    </div>

    <div class="container">
        <div class="col-xs-3">
            Menu
        </div>
        <div class="col-xs-9">
            @RenderBody()
        </div>
    </div>

    <footer class="home-footer">
        <div class="container">
            <div class="row">
                <p class="home-footer__copy">DiscStore &copy; @DateTime.Now.Year</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>
</html>
