<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title — DiscStore</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="home-layout">
    <!--Navigation-->
    <nav class="navbar navbar-fixed-top home-navbar" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".home-navbar__collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("DiscStore", "Index", "Home", new { @class = "navbar-brand" })
                </div>
                <div class="collapse navbar-collapse home-navbar__collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            @Html.ActionLink("Kategorie", "Categories", "Home")
                        </li>
                        <li>
                            @Html.ActionLink("Bestsellery", "Bestsellers", "Home")
                        </li>
                        <li>
                            @Html.ActionLink("Promocje", "Team", "Home")
                        </li>
                        <li>
                            @Html.ActionLink("Nowości", "Team", "Home")
                        </li>
                    </ul>
                    @if (User.Identity.IsAuthenticated == true)
                    {
                        <ul class="nav navbar-nav navbar-right">
                            <li class="navbar-text welcome-text-ds">
                                Witaj, @User.Identity.Name
                            </li>
                            <li>
                                <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fas fa-power-off "></i> Wyloguj</a>
                            </li>
                        </ul>
                        using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {@Html.AntiForgeryToken()}
                }
                else
                {
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="@Url.Action("Login","Account")">
                                <i class="fas fa-sign-in-alt"></i> Zaloguj się
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("Register","Account")">
                                <i class="fas fa-user"></i> Załóż konto
                            </a>
                        </li>
                    </ul>
                }
                </div>
            </div>
        </div>
    </nav>
    <!--Navigation End-->>

    <main>
        <!--Slider-->
        <div id="homepageslider" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#Carousel" data-slide-to="0" class="active"></li>
                <li data-target="#Carousel" data-slide-to="1"></li>
                <li data-target="#Carousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/Content/Images/sl1.png" alt="">
                </div>
                <div class="item">
                    <img src="~/Content/Images/sl2.png" alt="">
                </div>
                <div class="item">
                    <img src="~/Content/Images/sl3.png" alt="">
                </div>
            </div>
        </div>
        <!--Slider end-->

        <div class="col-xs-3 menu-left-homepage">
            Menu
        </div>
        <div class="col-xs-9 main-render-section">
            @RenderBody()
        </div>

    </main>

    <footer class="home-footer">
        <div class="container">
            <div class="row">
                <p class="home-footer__copy">DiscStore &copy; @DateTime.Now.Year</p>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>
</html>
