@model DiscStore.Infrastructure.ViewModels.Product.ProductViewModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_FluidLayout.cshtml";
}

<h2>Usuń</h2>

<h3>Czy na pewno chcesz usunąć ten produkt?</h3>
<div>
    <h4>Produkt</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Artist)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artist)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PremiereDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PremiereDate)
        </dd>

        <dt>
            Zdjęcie
        </dt>

        <dd>
            @if (Model.PictureData == null || Model.PictureData.Length == 0)
            {
                <span class="form-control-static">Brak zdjęcia</span>
            }
            else
            {
                <img class="image-thumbnail" width="200" height="200"
                     src="@Url.Action("GetPicture", "Product", new { productId = Model.ProductID })" />
            }
        </dd>


    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
