@model List<DiscStore.Infrastructure.ViewModels.Product.ProductViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Produkty</h2>

<table class="table">
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descirption)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PremiereDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PictureMimeType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategoryID)
        </td>
    </tr>
}

</table>
