@model DiscStore.Infrastructure.ViewModels.Cart.CartIndexViewModel

@{

    Layout = "~/Views/Shared/_FluidLayout.cshtml";
}


<div class="cart">
    <img class="cart__bg" src="~/Content/Images/boy-984293_19203.png" />
    <div class="cart-content">
        <div class="col-lg-9 col-12 mx-auto">
            <div class="text-center">
                <h2 class="font-weight-bold fa-3x">Twój koszyk</h2>
                <br />
            </div>
            <table class="table ds-table">
                <thead class="cart_head">
                    <tr>
                        <th></th>
                        <th class="font-weight-bold">Produkt</th>
                        <th class="font-weight-bold">Ilość</th>
                        <th class="font-weight-bold">Cena</th>
                        <th class="font-weight-bold">Wartość</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var line in Model.Cart.Lines)
                    {
                        <tr>
                            <td class="image-cart-container"><img src="@Url.Action("GetPicture", "Product", new { productId = line.Product.ProductID })" class="img-fluid image-cart" alt="" /></td>
                            <td>
                                <h2>@line.Product.Name</h2>
                                <p class="text-muted">@line.Product.Artist</p>
                            </td>
                            <td><h3>@line.Quantity</h3></td>
                            <td><h3>@line.Product.Price.ToString("c")</h3></td>
                            <td><h3>@((line.Quantity * line.Product.Price).ToString("c"))</h3></td>
                            <td>
                                @using (Html.BeginForm("RemoveFromCart", "Cart"))
                                {
                                    @Html.Hidden("productId", line.Product.ProductID)
                                    @Html.HiddenFor(x => x.ReturnUrl)
                                    <input class="btn btn-sm btn-warning" type="submit" value="Usuń" />
                                }
                            </td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4" class="text-right"> <h2>Razem:</h2></td>
                        <td class=""><h2><strong>@Model.Cart.ComputeTotalValue().ToString("c")</strong></h2></td>
                        <td>
                            @if (Model.Cart.Lines.Any() == true)
                            {
                            <strong>
                                <a class="btn btn-rounded text-white" href="@Url.Action("ShippingDetails", "Cart")">Zapłać za zakupy</a>
                            </strong>
                            }
                        </td>
                    </tr>
                </tfoot>
            </table>
            <br />

            <div class="cart-footer mx-auto">
                <a class="btn btn-amber " href="@Url.Action("ClearCart", "Cart", new { returnUrl = Model.ReturnUrl})">Wyczyść koszyk</a>
                <a class="btn btn-success float-right" href="@Model.ReturnUrl">Kontynuuj zakupy</a>
            </div>

        </div>
    </div>
</div>


