@model DiscStore.Infrastructure.ViewModels.Cart.CartIndexViewModel

@{

    Layout = "~/Views/Shared/_FluidLayout.cshtml";
}


<div class="cart">
        <img class="cart__bg" src="~/Content/Images/boy-984293_1920.jpg" />
    <div class="cart-content col-9 mx-auto">
        <div class="text-center">
            <h2 class="text-thin">Twój koszyk</h2>
            <br />
        </div>
        <table class="table">
            <thead class="cart_head">
                <tr>
                    <th></th>
                    <th class="font-weight-bold">Produkt</th>
                    <th class="font-weight-bold">Ilość</th>
                    <th class="font-weight-bold">Cena</th>
                    <th class="font-weight-bold">Wartość</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var line in Model.Cart.Lines)
                {
                    <tr>
                        <td><img src="@Url.Action("GetPicture", "Product", new { productId = line.Product.ProductID })" class="img-fluid image-cart-container" alt="" /></td>
                        <td class="text-left">@line.Product.Name</td>
                        <td class="text-center">@line.Quantity</td>
                        <td class="text-right">@line.Product.Price.ToString("c")</td>
                        <td class="text-right">@((line.Quantity * line.Product.Price).ToString("c"))</td>
                        <td>
                            @using (Html.BeginForm("RemoveFromCart", "Cart"))
                            {
                                @Html.Hidden("productId", line.Product.ProductID)
                                @Html.HiddenFor(x => x.ReturnUrl)
                                <input class="btn btn-sm btn-warning" type="submit" value="Usuń" />
                            }
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4" class="text-right">Razem:</td>
                    <td class="text-right">@Model.Cart.ComputeTotalValue().ToString("c")</td>
                </tr>
            </tfoot>
        </table>
        <br />

        <div class="mx-auto">
            <a class="btn btn-primary" href="@Model.ReturnUrl">Kontynuuj zakupy</a>
            <a class="btn btn-amber float-right" href="@Url.Action("ClearCart", "Cart", new { returnUrl = Model.ReturnUrl})">Wyczyść koszyk</a>
            @if (Model.Cart.Lines.Any() == true)
            {
                <a class="btn btn-rounded btn-lg" href="@Url.Action("ShippingDetails", "Cart")">Zapłać za zakupy</a>
            }

        </div>

    </div>
</div>



